* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
}

form * {
  display: block;
  margin: 10px;
}

/* Para el sistema de grids. */

.grid {
  display: flex;
  flex-direction: row;
}

.grid--right {
  justify-content: flex-end;
}

.grid-item__25 {
  flex: 0 0 25%;
}

.grid-item__50 {
  flex: 0 0 50%;
}

.grid-item__75 {
  flex: 0 0 75%;
}

.grid-item__100 {
  flex: 0 0 100%;
}

/* Para la alineacion */

.grid-item__vertical-align--top {
  align-self: flex-start;
}

.grid-item__vertical-align--center {
  align-self: center;
}

.grid-item__vertical-align--bottom {
  align-self: flex-end;
}

/* Clases reutilizable para utilizar en el pseudo-body que tendremos con react.*/
.sticky-footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sticky-footer--main {
  flex: 1;
}

.bg-color {
  background-color: greenyellow;
  padding: 20px;
}
