/* ELEMENTO */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter;
  color: white;
}

header {
  background-image: url(./images/background-landing.jpg);
  background-size: cover;
  padding: 36px 12px 24px 12px;
  height: 100vh;
  position: relative;
}

h1,
h2,
p {
  margin: 0;
}

/* CLASE */

.small-claim {
  font-weight: 300;
  font-size: 20px;
}

.big-claim {
  font-size: 40px;
}

.button {
  text-decoration: none;
  font-size: 16px;
  color: white;
  background-color: #ef7d00;
  padding: 12px 24px;
  border-radius: 6px;
}

.header-content {
  position: absolute;
  bottom: 24px;
}

.topbar {
  z-index: 2;
  position: fixed;
  top: 36px;
  left: 12px;
  right: 12px;
}

.logo-esat {
  height: 30px;
}

.logo-postgrado {
  height: 80px;
  position: absolute;
  right: 0;
  top: -50%;
}

/* CLASES DE UTILIDAD */

.color-orange {
  color: #ef7d00;
}

.margin-bottom {
  margin-bottom: 12px;
}

.inline-block {
  display: inline-block;
}
