.sidebar {
  display: flex;
  flex-direction: column;

  min-width: 300px;
  min-height: 100vh;

  font-size: var(--font-size-18);
  font-weight: var(--font-weight-normal);
  color: var(--text-color-main);
  background-color: var(--color-very-dark-blue);

  padding: var(--small-padding-10);
}

.sidebar__icon {
  width: var(--small-icon-16);
  height: var(--small-icon-16);
  vertical-align: middle;
}
