/* CLASES GENERALES - ELEMENTOS */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

/* CLASES GENERALES DE BOTONES */

/* BOTÓN PRINCIPAL */
.btn {
  font-family: var(--font-family-body);
  font-size: var(--font-size-18);
  line-height: var(--font-line-height-145);
  color: var(--color-white);
  background-color: var(--color-blue);
  padding: var(--space-12) var(--space-52);
  border-radius: var(--border-radius-10);
  border-width: var(--border-width-2);
  border-style: solid;
  border-color: transparent;
  /* Esto sirve para que no varie el tamaño cuando sí tenga borde. Siempre que alguno de nuestros botones tenga border todos deberán llevarlo. Es mejor desglosar esas propiedades y que estén y cambies solo la necesaria.*/
  outline: none;
  text-decoration: none;
  cursor: var(--cursor-pointer);
  transition: all 0.1s ease-in;

  &:hover {
    background-color: var(--color-blue-light);
  }

  &:active {
    background-color: var(--color-blue-dark);
  }

  &:disabled {
    background-color: var(--color-grey);
    cursor: var(--cursor-not-allowed);
  }
}

/* BOTÓN SECUNDARIO */
.btn--secondary {
  color: var(--color-blue);
  border-color: currentColor;
  background-color: unset;

  &:hover {
    background-color: unset;
    color: var(--color-blue-light);
  }

  &:active {
    background-color: unset;
    color: var(--color-blue-dark);
  }

  &:disabled {
    background-color: unset;
    color: var(--color-grey);
    cursor: var(--cursor-not-allowed);
  }
}

/* BOTÓN TEXTO */
.btn--text-link {
  color: var(--color-blue);
  background-color: unset;
  padding: 0px;
  border-radius: 0px;
  border: none;
  outline: none;
  text-decoration: none;

  &:hover {
    color: var(--color-blue-light);
    background-color: unset;
  }

  &:active {
    color: var(--color-blue-dark);
    background-color: unset;
  }

  &:disabled {
    color: var(--color-grey);
    background-color: unset;
    cursor: var(--cursor-not-allowed);
  }
}

/* CLASES DE FLEX */
/* Las he añadido para organizar así por encima el contenido de la web. */
.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  gap: 20px;
}

/* PRUEBAS */

.container .btn--secondary {
  --button-color-main: red;
}
/* Este ejemplo  */
